[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
odin-data = {file = "file:///dls/science/users/ovs72384/support-modules/odin-data/1-7-0dls1/tools/python"}
odin-control = {file = "file:///dls/science/users/ovs72384/support-modules/odin-control/1-1-0dls1"}
pyzmq = "*"
tornado = "*"
xspress-detector = {editable = true, path = "."}

[dev-packages]

[pipenv]
allow_prereleases = true
