[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xspress-odin = {editable = true, path = "."}

[dev-packages]
xspress-odin = {editable = true, extras = ["dev"], path = "."}

